@mixin clear {
  padding: 0;
  margin: 0;
}

@mixin clear-list {
  @include clear;
  list-style: none;
}
@mixin outline {
   outline:1px solid black;
}
@mixin center {
display:flex;
justify-content:center;
align-items:center;
}

@mixin box-shadow($x,$y,$blur,$color){
-moz-box-shadow:$x,$y,$blur,$color;
-webkit-box-shadow:$x,$y,$blur,$color;
box-shadow:$x,$y,$blur,$color;
}

@mixin transition($property, $duration, $timing, $delay) {
    -moz-transition: $property $duration $timing $delay;
    -o-transition: $property $duration $timing $delay;
    -webkit-transition: $property $duration $timing $delay;
    transition: $property $duration $timing $delay;
}

@mixin border-radius($radius) {
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}
