@import "../partials/params";
@import "../partials/mixins";

.grid-right {
    background: yellow;
    //@include outline;
    height:700px;
    width: 50%;
    margin:5px;

}
@media only screen and (max-width: 992px) {
    .grid-right {
        width: 100%;
    }
}