@import "../partials/params";
@import "../partials/mixins";

.menu-icon {
    display: none;
}

@media screen and (max-width: 992px) {
    .nav-main {
        display: none;
    }
    .menu-icon {
        display: block;
        background: #00897b;
        border: none;
        font-size: 25px;
        width: 50px;
        height: 50px;
        cursor: pointer;
    }
}