@import "../partials/params";
@import "../partials/mixins";

.top-menu {
    &__list {
        margin: 0;
        padding: 0;
    }
    &__item {
        display: inline-block;
    }
    &__item a {
        display: inline-block;
        margin: 0 10px;
        text-transform: uppercase;
        color: #ccc;

    }
    &__item a:hover {
        color: #2A4C3B;
    }
}

@media only screen and (max-width: 992px) {
    .top-menu {
        display: none;
    }
}
